<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>login_verify</servlet-name>
    <servlet-class>login_verify</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>login_verify</servlet-name>
    <url-pattern>src/login_verify</url-pattern>
  </servlet-mapping>
  
 <servlet>  
<servlet-name>logoutservlet</servlet-name>  
<servlet-class>logoutservlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>logoutservlet</servlet-name>  
<url-pattern>src/logoutservlet</url-pattern>  
</servlet-mapping> 

 <servlet>
    <servlet-name>OwnerServlet</servlet-name>
    <servlet-class>OwnerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OwnerServlet</servlet-name>
    <url-pattern>src/OwnerServlet</url-pattern>
  </servlet-mapping>
  
   
 <!--   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
 -->
</web-app>
