@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
	background:#fff url(images/main_bg.gif) repeat-x center 88px;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:12px 0 0 40px;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:16px 0;
	color:#7fd0f6;
	font:bold 36px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#7fd0f6;
	text-decoration:none;
}
h1 small {
	font:normal 13px/1.2em Arial, Helvetica, sans-serif;
	color:#959595;
	letter-spacing:normal;
}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	text-align:left;
}
a {
	color:#49b6e9;
	text-decoration:underline;
}
a.rm, a.com {
	font-weight:bold;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	height:372px;
	background:url(images/header_bg.jpg) no-repeat center 88px;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:970px;
}
.htext {
	width:460px;
	padding:12px 0 0 40px;
	color:#333333;
}
.htext p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:bold 14px/1.4em Arial, Helvetica, sans-serif;
}
.htext a {
	margin:8px 0;
	padding:0 0 8px 0;
	font:bold 14px/1.4em Arial, Helvetica, sans-serif;
	color:#333333;
}
.htext h2 {
	font-weight:bold;
	color:#fff;
}
.menu_nav {
	margin:0;
	padding:30px 0 0;
	float:right;
}
.menu_nav ul {
	list-style:none;
}
.menu_nav ul li {
	margin:0;
	padding:0 8px 0 0;
	float:left;
	background:no-repeat right center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:5px 16px 6px;
	color:#959595;
	text-decoration:none;
	font-size:13px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#fff;
	background:url(images/menu_a.gif) repeat-x center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 0;
	width:970px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:670px;
	background:repeat-x bottom;
}
.content .mainbar img {
	padding:4px;
	border:1px solid #b7b7b7;
	background-color:#fff;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:20px 24px 24px 40px;
}
.content .sidebar {
	padding:0;
	float:right;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:16px 16px 24px 40px;
	background:#fff repeat-x bottom;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#959595;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#49b6e9;
	font-weight:bold;
	background:no-repeat left center;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background-color:#89c8e4;
}
.fbg_resize {
	margin:0 auto;
	width:890px;
	padding:24px 40px;
	color:#fff;
}
.fbg ul li {
	padding:8px 0;
	border-bottom:1px solid #fff;
}
.fbg a {
	margin:0;
	padding:2px 4px;
	color:#fff;
	background-color:#49b6e9;
	text-decoration:none;
}
.fbg a:hover {
	text-decoration:underline;
}
.fbg ul li a {
	margin:0;
	padding:2px 4px;
	color:#fff;
	background:none;
	text-decoration:none;
}
.fbg ul li a:hover {
	color:#fff;
	background-color:#49b6e9;
	text-decoration:none;
	font-weight:normal;
}
.fbg h2 {
	color:#fff;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.fbg .c1 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:24px 40px;
	width:890px;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#959595;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
